SUPABASE_URL=https://zwvagbjoeqcxuolexrow.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp3dmFnYmpvZXFjeHVvbGV4cm93Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNDk4NzUsImV4cCI6MjA5MzkyNTg3NX0.D125kspDSLUedD2AOKJ65d2n8MfVsy6JezBRi-KZa50
SECRET_KEY=hockeymanager-salainen-2026-xQz9
ADMIN_SECRET=Saatana10!
